<html>
    <head>
        <title>Senha incorreta</title>
        <link rel="shortcut icon" href="/images/favicon.svg"/>
        <script>
            confirm("Senha incorreta")
            window.location.replace("/room/<%= roomId %>")
        </script>
    </head>
</html>