<!DOCTYPE html>
<html>
    <head>
        <title>Q&A - Rocket.Q</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-Edge">

        <!-- View Port -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS -->
        <link rel="stylesheet" href="./styles/global.css">
        <link rel="stylesheet" href="./styles/room.css">
        <link rel="stylesheet" href="./styles/modal.css">

        <!-- Script -->
        <script src="scripts/main.js" defer type="module"></script>

    </head> 
        <body>
            <div id="room" class="content">
                <header>
                    <img src="images/logo.svg" alt="Rocket.Q Logo"/>

                    <div class="buttons">
                        <div class="button outlined">
                            #323243
                            <img src="images/copy.svg" alt="Copiar código da sala">
                        </div>
                        <a href="a" class="button">
                            <img src="images/users-white.svg" alt="Criar sala">
                            Criar sala
                        </a>
                    </div>
                </header>

                <main>
                    <section id="question-form">
                        <h2>Faça sua pergunta</h2>
                        <form action="">
                            <label for="question" class="sr-only">O que você quer perguntar?</label>
                            <textarea name="question" id="question" placeholder="O que você quer perguntar?"></textarea>
                            <footer>
                                <div>
                                    <img src="images/lock.svg" alt="Cadeado">
                                    Esta pergunta é anônima
                                </div>
                                <button>Enviar</button>
                            </footer>
                        </form>
                    </section>
                    <section id="questions">
                        <h2 class="sr-only">Perguntas da comunidade</h2>
                        <div class="questions">

                            <div class="question-wrapper">
                                <div class="question-content">
                                    <div class="user">
                                        <img src="images/user.svg" alt="Avatar">
                                    </div>
                                    <div class="question">
                                        <p>Qual a diferença entre const, var e let no JavaScript?</p>
                                    </div>
                                </div>
                                <div class="actions">
                                     <a class="check">
                                        <img src="images/check.svg" alt="Marcar como lida">
                                        Marcar como lida
                                    </a>
                                     <a class="delete">
                                        <img src="images/trash.svg" alt="Excluir">
                                        Excluir
                                    </a>
                                </div>
                            </div>

                            <div class="question-wrapper">
                                <div class="question-content">
                                    <div class="user">
                                        <img src="images/user.svg" alt="Avatar">
                                    </div>
                                    <div class="question">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                                           It has survived not only five centuries, but also the leap into electronic typesetting.
                                        </p>
                                    </div>
                                </div>
                                <div class="actions">
                                     <a class="check">
                                        <img src="images/check.svg" alt="Marcar como lida">
                                        Marcar como lida
                                    </a>
                                     <a class="delete">
                                        <img src="images/trash.svg" alt="Excluir">
                                        Excluir
                                    </a>
                                </div>
                            </div>

                            <div class="question-wrapper read">
                                <div class="question-content">
                                    <div class="user">
                                        <img src="images/user.svg" alt="Avatar">
                                    </div>
                                    <div class="question">
                                        <p>O que é TypeScript?</p>
                                    </div>
                                </div>
                                <div class="actions">
                                     <a class="already-read">
                                        <img src="images/check.svg" alt="Pergunta lida">
                                        Pergunta lida
                                    </a>
                                </div>
                            </div>

                        </div>
                    </section>
                </main>
            </div>

            <!-- MODAL -->
            <div class="modal-wrapper">
                <div class="modal">
                    <h2>Excluir pergunta</h2>
                    <p>Tem certeza que você deseja excluir esta pergunta?</p>

                    <form action="">
                        <label class="sr-only" for-id="password">Digite a senha</label>
                        <input type="password" name="password" id="password" placeholder="Digite a senha">

                        <div class="buttons">
                            <div class="button grey cancel">Cancelar</div>
                            <button class="red">Sim, excluir</button>
                        </div>
                    </form>
                </div>
            </div>

        </body>
</html>