<div class="no-questions">
    <img src="/images/no-questions.svg" alt="Sem perguntas">
    <h2>Nenhuma pergunta por aqui...</h2>
    <p>
        Faça sua primeira pergunta e evie o<br>
        código dessa sala para outras pessoas!
    </p>
</div>