@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    --black: #0D114F;
    --white: #FAFAFA;
    --blue: #3485FF;
    --light-blue: #E0ECFF;
    --red: #E83F5B;

    --dark-grey: #4D5E77;
    --blue-grey: #A1B2CD;
    --medium-grey: #D3D9E2;
    --light-grey: #E5EAF1;

    --background: #FBFCFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;

    --blue-hover: #5699FF;
    --red-hover: #EA4B65;
    --grey-hover: #8794A7;

    /* 1rem = 16px (User Agent) */
    font-size: 62.5%; /* 10px */
}

body {
    display: flex;
    height: auto;
    background: var(--background);
}

body, button, input, textarea {
    /* intervalo de tamanho */
    font-size: clamp(14px, 1.6rem, 2vw); /* (minimo, padrão, máximo) */
    font-family: "Open Sans", sans-serif;
    /* font-family: "Poppins", sans-serif; */
}

.content {
    width: 100%;
    margin: 0 auto;
}

.sr-only {
    /* screen only */
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0px;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* ------------ input and buttons ------------ */
input, button, .button {
    border-radius: 0.8rem;
    height: 5rem;
}

button, .button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--blue);
    color: var(--white);

    cursor: pointer;

    transition: filter .2s;
}

button:hover, .button:hover {
    filter: brightness(1.2);
}

button > img, 
.button > img {
    margin-right: 1rem;
    width: 2rem;
}

button.outlined,
.button.outlined {
    background: transparent;
    color: var(--blue);
    border: .2rem solid var(--blue);
}

button.red,
.button.red {
    background: var(--red);
    color: var(--white);
}

button.red:hover,
.button.red:hover {
    filter: none;
    background: var(--red-hover);
    color: var(--background);
}

button.grey,
.button.grey {
    background: var(--light-grey);
    color: var(--dark-grey);
}

button.grey:hover,
.button.grey:hover {
    filter: none;
    background: #EAEFF5;
}


/* Header */
.content header {
    width: 80%;
    margin: 3.5rem auto;
}

.content header img {
    width: 16.7rem;
}

/* ---- Remove Arrows/Spinners from input ---- */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* remove outline around text input boxes */
input:focus, textarea:focus, select:focus{
    outline: none;
}